html,body,#app{
  height:100%;
  padding:0;
  margin:0;
  /* font-size: 16px; */
}

.el-breadcrumb{
  background-color: #ffffff;
  margin-bottom:15px;
  font-size:12px;
  padding: 10px 10px;
}

/* .box-card{
  box-shadow: 0 1px 1px rgba(0,0,0,0.15) !important;
} */

.box-card{
  margin-bottom: 10px;
}

.el-row{
  margin-bottom:10px;
}

.el-pagination{
  margin-top:10px;
}

.el-table{
  margin-top: 10px;
}

.el-tag{
  margin-bottom: 10px;
}

.el-table .warning-row {
  background: oldlace;
}

table{
  border-collapse:collapse;
  width:100%;
  margin:auto 0;
  overflow: scroll;
}
caption{
  font-size:16px;
  font-weight:bold;
}
th{
  font-size: 15px;
}
td{
  font-size:14px;
}
th,td{
  text-align: center;
  padding:1em 0;
}

.clearfix:before,.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both
}
/* 为了去标题框 */
:focus{
  outline:0;
}
